body {
  background-color: white;
  color: black;
  font-family: Verdana;
}

#header {
  margin: auto;
  padding: 10px;
  height: 200px;
  width: 300px;
  border: 4px solid #000000;
  text-align: center;
}